drupal:
  root: "build"
  base_url: "http://web:8080/build"
  site:
    name: "OpenEuropa"
    profile: "standard"
  database:
    host: "mysql"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  post_install:
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "vendor"
        - "${drupal.root}"
      file_private_path: "sites/default/files/private"
selenium:
  host: "http://selenium"
  port: "4444"
  browser: "chrome"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:symlink-project" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
